/* colors */
.text-primary {
  color: $brand;
}

.text-secondary {
  color: $sky;
}

.text-success {
  color: $primary_green;
}

.text-warning {
  color: $orange;
}

.text-danger {
  color: $primary_red;
}

/* alignments */
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* transform */
.text-capitalize {
  text-transform: capitalize;
}
