/* Colors */
$primary_green: #006947;
$primary_red: #c02a29;
$primary_yellow: #ffde76;
$white: #fff;
$black: #333;

$brand: $primary_green; // Buttons
$sky: $primary_red; // Links
$line: #e8e8e8;
$border: $line;
$hairline: #f2f2f2;

$blue: #1b264f;
$orange: #fd9a02;
$purple: #3b3561;

$bg: #f7f7f7;
$bg-hover: fade-out($brand, 0.98);

$yes: #0ad3ff;
$no: $primary_red;
$veto: $primary_yellow;
$abstain: #c3979f;

/* Sizes */
$breakpoint: 768px;
$breakpoint-large: 1024px;
$gutter: 20px;
$gutter-large: 30px;
$radius: 5px;
$max-width: (1180px + (2 * $gutter-large));

/* Image logo sizes */
$nav-logo-height: 113px;

/* Copmonents */
$nav-height: 55px;
$nav-height-large: 68px;
$nav-width-large: 240px;
