@import '../styles/mixins';
@import '../styles/variables';

.orb {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: #e9edf8;
  border-radius: 50%;
  overflow: hidden;
}

.bar {
  @include flex();

  flex: none;
  background: $primary_green;
  color: white;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;

  position: relative;

  svg {
    fill: $primary_green;
    position: absolute;
    left: 0;
    right: 0;
  }
}
