@import '../styles/mixins';
@import '../styles/variables';

$border-bottom: 1px solid fade-out(white, 0.9);

.nav {
  @include drag();
  background: $white; // Logo background
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);

  @media (min-width: $breakpoint-large) {
    width: $nav-width-large;
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }
}

.header {
  @include flex(space-between, stretch);

  @media (max-width: $breakpoint-large - 1) {
    // height: $nav-height;

    svg {
      width: 113px;
      height: 15px;
    }
  }

  @media (min-width: $breakpoint-large) {
    border-bottom: $border-bottom;
    // height: $nav-height-large;
  }

  .logo,
  .toggle {
    @include flex();
    // color: $white;
    color: $primary_green;

    @media (max-width: $breakpoint-large - 1) {
      padding: 0 20px;
    }

    @media (min-width: $breakpoint-large) {
      padding: 0 15px;
    }

    &:hover {
      text-decoration: none;
    }

    // Text logo color
    svg {
      fill: $primary_green;
    }
  }

  .logo {
    flex: 1;

    @media (max-width: $breakpoint-large - 1) {
      justify-content: flex-start;
    }

    @media (min-width: $breakpoint-large) {
      justify-content: center;
    }
  }

  .toggle {
    flex: none;
    font-size: 19px;

    i {
      font-size: 42px;
      width: 42px;
    }

    @media (min-width: $breakpoint-large) {
      display: none;
    }
  }

  // Logo image
  img {
    height: $nav-logo-height;
    max-width: 100%;
    @media (max-width: $breakpoint-large - 1) {
      height: $nav-logo-height-mobile;
    }
  }
}

.main {
  @include flex(space-between, stretch);
  flex-direction: column;
  background: $white; // Sidebar background

  @media (max-width: $breakpoint-large - 1) {
    display: none;
    padding-top: 30px;

    &.open {
      display: flex;
    }

    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
  }

  @media (min-width: $breakpoint-large) {
    flex: 1;
    display: flex;
    padding-top: 20px;
  }
}

.footer {
  color: $black;

  h1 {
    color: $white;
  }
}
